body {
    padding: 0;
    margin: 0;
}
.div-section {
    font-size: 2em;
    margin: 0 auto;
    text-align: center;
    height: 80px;
    line-height: 80px;
    color: rgb(238, 36, 170);      /* override */
    background: rgb(55, 8, 39);    /* override */
}
.div-section-flexbox {
    display: flex;
    flex-direction: row;
}
.main-header {
    color: rgb(6, 136, 149);
    background: rgb(2, 51, 56);
    font-size: 6em;
    font-weight: bold;
    height: 300px;
    line-height: 200px;
}
.current-word {
    color: rgb(238, 36, 170);
    background: rgb(108, 4, 73    );
}
.btn-section {
    background: #047fa3;
}
